<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>All Shows</h3>
        <table class="table table-dark">
            <thead>
                <th>ID</th>
                <th>Title</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for i in all_shows %}
                <tr>
                    <td><a href="shows/{{i.id}}">{{i.id}}</a></td>
                    <td>{{i.title}}</td>
                    <td>{{i.network}}</td>
                    <td>{{i.release_date}}</td>
                    <td>
                        <ul>
                            <li><a href="shows/{{i.id}}">Show</a></li>
                            <li><a href="shows/{{i.id}}/edit">Edit</a></li>
                            <li><a href="shows/{{i.id}}/destroy">Delete</a></li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="new" href='shows/new'>Add a New Show</a>
    </div>
</body>
</html>