<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a Book</h1>
    <form action="/add_book" method="post">
        {% csrf_token %}
        Title: <input type="text" name="title">
        Description: <textarea name="desc"></textarea>
        <input type="submit" value="Add">
    </form>
    <table>
        <thead>
            <th>ID</th>
            <th>Book</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for i in all_books %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.title}}</td>
                <td><a href="/books/{{i.id}}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>