*{
    margin:0px;
    padding:0px;
}

nav{
    display: flex;
    justify-content: space-around;
    padding:10px;
    margin:10px;
    border:1px solid black;
    border-radius: 10px;
}

nav h6{
    color:white;
}

nav p{
    color:white;
}

.container{
    margin: 0px 70px;
}

main{
    margin:20px auto;
    display:flex;
    justify-content: space-around;
}
.comment{
    margin-left:40px;
    margin-right:80px;

}

.name{
    font-weight: bold;
}

.form-label{
    text-decoration: underline;
}