*{
    margin:0px;
    padding:0px;
}

.container{
    margin: 0px 70px;
}

main{
    margin:20px auto;
    display:flex;
    justify-content: space-around;
}

nav{
    display:flex;
    justify-content: space-around;
    color:white;
    padding-left:30px;
    padding-right:30px;
}

.my_favs{
    font-size:20px;
}

.books .book{
    margin:5px;
}

textarea{
    vertical-align: top;
}

.update_delete .btn-warning{
    margin-left:90px;
    margin-top:10px;
}

.update_delete .btn-danger{
    margin-top:10px;
}

.show_book{
    display:flex;
    justify-content: space-around;
    margin-top:20px;
}