*{
    margin: 10px auto;
    
}

h4 {
    border: 3px solid black;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    width:250px;
}

p {
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(172, 92, 92);
    text-align: center;
    height:70px;
    width:400px;
    font-size: 30px;
}
